<!-- TODO -->
<%= form_with model: user do |form| %>
    <%= render partial: "form_fields", locals: { form: form, user: user } %>
    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", user, class: "btn-ncs" %>
    </div>
  </div>
<% end %>