<div class="w-full bg-ncs-tweed bg-ncs-gray-700 rounded text-white overflow-clip">
  <div class="flex justify-center w-full p-4">
    <div class="w-full max-w-xl">
      <h1 class="text-2xl">Edit Profile</h1>
      <%= render partial: "form", locals: { user: @user } %>
    </div>
  </div>
</div>