#content {
  display: grid;
  grid-template-areas: ". filters ." ". gallery .";
  grid-template-columns: 1fr minmax(auto, 998px) 1fr;
}

@media screen and (min-width: 1600px) {
  #content {
    display: grid;
    grid-template-areas: "filters gallery .";
    grid-template-columns: 1fr minmax(auto, 998px) 1fr;
    gap: 1rem;
  }

  #filters {
    display: flex;
    justify-content: end;
  }
  
  #filters > details {
    max-width: 16rem;
    width: 100%;
    padding-top: 1.25rem;
  }
}

#filters {
  grid-area: filters;
}

#filters > div {
  padding-top: 1rem;
}

#gallery {
  grid-area: gallery;
}