<%
  selected ||= :skins
  tabs = [
    [:skins, "Skins", skins_gallery_path],
    [:banners, "Banners", banners_gallery_path],
  ]
%>

<ul class="flex flex-wrap gap-1 text-2xl mt-2 ncs-min:mt-4 font-bold">
  <% tabs.each do |tab| %>
    <%
      classes = (selected == tab[0] ? "bg-ncs-yellow-200" : "bg-[#cdceb6]" )
    %>
    <li class="rounded-t-sm px-6 <%= classes %>"><%= link_to tab[1], tab[2] %></li>
  <% end %>
</ul>