<header>
  <div class="nav">
    <div class="navbar" style="z-index: 999">
      <div class="topitems">
        <a href=""><img src="ncsassets/img/header.png" /></a>
        <a href=""><h1>Miners Need Cool Shoes</h1></a>
      </div>

      <div class="bottomitems">
        <ul class="pages">
          <li class="<%= active_when("/") %>">
            <h1><a href="/">Editor</a></h1>
          </li>
          <li class="<%= active_when("/banner") %>">
            <h1><a href="/banner">Banner</a></h1>
          </li>
        </ul>

        <div class="flourish left"></div>
        <div class="flourish right"></div>
      </div>
    </div>
  </div>
</header>