<ul class="flex items-center gap-4 text-ncs-brown text-2xl h-full uppercase">
  <li>
    <h1>
      <a class="<%= class_on_path("/", "font-bold text-black", "text-ncs-brown hover:text-black duration-300 transition-colors") %>" href="/">
        Editor
      </a>
    </h1>
  </li>
  <span class="text-base">●</span>
  <li>
    <h1>
      <a
        class="<%= class_on_path("/gallery", "font-bold text-black", "text-ncs-brown hover:text-black duration-300 transition-colors") %>"
        href="/gallery"
      >
        Gallery
      </a>
    </h1>
  </li>
  <span class="text-base">●</span>
  <li>
    <h1>
      <a
        class="<%= class_on_path("/banner", "font-bold text-black", "text-ncs-brown hover:text-black duration-300 transition-colors") %>"
        href="/banner"
      >
        Banner
      </a>
    </h1>
  </li>
</ul>