<%
  classes ||= ""
  btn_classes ||= ""
  gallery_path = (@gallery_tab == :banners ? banners_gallery_path : skins_gallery_path)
  search_type = (@gallery_tab == :banners ? "banners" : "skins")
%>
<%= form_with url: gallery_path, method: :get do |form| %>
  <div class="flex gap-2 w-full">
    <%= form.text_field :search, value: params[:search], title: "Search for #{search_type}", placeholder: "Search for #{search_type}", class: "bg-ncs-yellow-200 h-8 #{classes}" %>
    <%= form.button name: "", class: "cursor-pointer btn-none #{btn_classes}", aria: {label: "Search"} do %>
      <%= heroicon "magnifying-glass", size: 25 %>
    <% end %>
  </div>
<% end %>