<% content_for :attention do %>
  <div class="flex justify-center w-full p-2 bg-ncs-yellow-200">
    <p>
      Welcome to Miners Need Cooler Shoes! This site is a continuation of the work done on
      <%= link_to "coolshoes.moxvallix.com", "https://coolshoes.moxvallix.com", class: "underline" %>,
      but with plenty more features!
    </p>
  </div>
<% end %>