<!-- TODO -->
<%= form_with model: skin do |form| %>
  <div class="flex flex-col gap-2">

    <%= render partial: "skins/form_fields", locals: {skin: skin, form: form} %>

    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", skin, class: "btn-ncs" %>
    </div>
  </div>
<% end %>