<div class="grow p-4 bg-ncs-yellow-200 max-w-none w-full prose prose-base prose-headings:mb-1 prose-headings:mt-0 rounded">
  <h2><span class="text-gray-500"><%= jam.tag %></span> <%= jam.name %></h2>
  <%= markdown jam.description %>
</div>