<%
  id ||= 0
  user_id ||= 0
  data ||= ""
%>
<% content_for :scripts do %>
  <script>
      var App = App || {};
      App.config = {token: "", s3: {suffix: {file: "", temp: ""},prefix: {http: "", aws: ""}}, userId: false};
      App.data = {};
  </script>
  <script src="/ncsassets/js/jquery.min.js"></script>
  <script src="/ncsassets/js/view-skin.js"></script>
<% end %>

<div
  class="model checker-border bg-ncs-grid h-[530px]"
  data-user-id="<%= user_id %>"
  data-id="<%= id %>"
  data-local="<%= data %>"
  data-save="<%= data %>"
></div>

<style>
  .model canvas {
    width: 100%;
    height: auto;
  }
</style>