<% content_for :title do "Editing Skin" end %>
<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>
<% content_for :styles do %>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>
<div class="w-full bg-ncs-tweed bg-ncs-gray-700 rounded text-white overflow-clip">
  <div class="flex flex-col items-center md:flex-row gap-2 w-full p-4">
    <div class="max-w-[320px] w-full h-[700px]">
      <%= render partial: "skin_3d", locals: { data: @skin.data, width: 300, height: 400 } %>
    </div>
    <script>
      skinViewer.nameTag = "<%= current_user.name %>"
    </script>
    <div class="w-full max-w-xl">
      <h1 class="text-2xl">Edit Skin</h1>
      <%= render partial: "form", locals: { skin: @skin } %>
    </div>
  </div>
</div>