<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>
<div class="flex justify-center gap-4 flex-wrap">
  <% @skins.each do |skin| %>
    <%
      show_visibility = false
      show_visibility = true if current_user.present? && skin.user == current_user
    %>
    <%= render partial: "skin_index", locals: { skin: skin, show_visibility: show_visibility  }%>
  <% end %>
</div>
<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>