<div class="py-2">
  <%== pagy_nav(@pagy) %>
</div>
<div class="flex justify-center gap-4 flex-wrap">
  <%= render partial: "skin_index", collection: @skins, as: :skin, cached: true %>
</div>
<div class="py-2">
  <%== pagy_nav(@pagy) %>
</div>