<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>About</h1>
  <strong>May, 2023</strong>
  <p>
    For many years, and for many Minecrafters, Miners Need Cool Shoes was the go-to, best, and easiest tool for skin creation and sharing.
    Unfortunately, however, around January of 2023, the site at needcoolshoes.com would go dark, and, as of the date of writing this,
    never return.
  </p>
  <p>
    The community had lost a powerful and useful resource, and had to resort to using either a semi-functional archive of the site,
    from the Wayback Machine, or use one of the other skin creation tools, many of which had little support for layers, one of the core
    features of Miners Need Cool Shoes.
  </p>
  <p>
    As well as losing such a powerful editor, the community also lost an expansive archive of skins, dating back over 10 years.
    The site had a loyal community of talented skin artists, and fostered an environment of sharing and remixing, reminiscent of sites
    like Scratch, or the open source movement as a whole.
  </p>
  <p>
    I suppose I should introduce myself. Hi! I am Moxvallix, and I have taken it upon myself to restore Miners Need Cool Shoes for the
    Minecraft community. I personally had used the site for years, making and saving my skins, and friends of mine (Wulfian), used
    the site to an even greater extent, and his lamenting was a motivating factor in this restoration project.
  </p>
  <p>
    Unfortunately, due to the current copyright laws the US have "bestowed" upon the world, I know this project is illegal. I do not hold the rights
    to the design of this site, or to it's editor. Those belong to the mysterious original developer(s) of the site, of whom we have not heard
    from in many years. Regardless of legality, I still have taken on this project because I feel that this resource is too important for the
    community to lose. However, if the original developer comes forwards, and asks me to take this down, I will have to comply.
  </p>
  <p>
    The last section of this about page is an open letter to the original developer(s).
  </p>
  <h2 id="open-letter">An Open Letter to the Original Developers</h2>
  <p>
    I hope you have found this letter. I purposely have picked a domain as close to yours as possible, spread my links across as
    much of Reddit as is relevant, and have used as much of your original assets as to try to garner your attention.
  </p>
  <p>
    Now that I have it: you have made an invaluable resource! It truly is! This site managed to do so many things right, where other editors
    like NovaSkin or PlanetMinecraft got it so wrong. The layer first approach to skin editing is a masterclass of UI.
    And as such, you garnered a loyal community of skin creators, who uploaded countless skins to your site.
  </p>
  <p>
    But now they can't access them. And without the site I have made, they would'nt be able to access their favourite skin editor either.
    I know the skins are still out there; the original AWS bucket is still operational, just locked behind an access key.
  </p>
  <p>
    I guess what I really am trying to say is that I want to talk. I want to discuss getting the site back online. Not just this re-creation,
    but the real, full site, with all the user data, and history, and domain. I want to know why it went offline; did it become too expensive?
    It seemed like you used heroku, was it to do with their pricing change?
  </p>
  <p>
    Or maybe the burden of maintaining the site became too great. An ageing codebase, and maybe you aren't part of the Minecraft community anymore,
    and when something broke, it just became too much to fix it.
  </p>
  <p>
    No matter what it is, I want to help. As you can see, I clearly can get some kind of app running, maybe I can help get Miners Need Cool Shoes
    back online?
  </p>
  <p>
    Or even, better yet, would be if you would consider releasing the code for the site under an open source license. Provide a torrent of all the skins
    uploaded over the years, release the code, and let the community take over maintenance of the app.
  </p>
  <p>
    IDK, basically all I'm saying is that this site, and the many skins saved to it, are far too important to lose forever. I would love if you would
    reach out, if you are willing to talk with me at all. You can contact me at <%= link_to "dev@moxvallix.com", "mailto:dev@moxvallix.com" %>.
    I am eagerly awaiting any message (unless its a DMCA of course, please don't).
  </p>
</div>