<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>About</h1>
  <strong>May, 2023</strong>
  <p>
    For many years, and for many Minecrafters, Miners Need Cool Shoes was the go-to, best, and easiest tool for skin creation and sharing.
    Unfortunately, however, around January of 2023, the site at needcoolshoes.com would go dark, and, as of the date of writing this,
    never return.
  </p>
  <p>
    The community had lost a powerful and useful resource, and had to resort to using either a semi-functional archive of the site,
    from the Wayback Machine, or use one of the other skin creation tools, many of which had little support for layers, one of the core
    features of Miners Need Cool Shoes.
  </p>
  <p>
    As well as losing such a powerful editor, the community also lost an expansive archive of skins, dating back over 10 years.
    The site had a loyal community of talented skin artists, and fostered an environment of sharing and remixing, reminiscent of sites
    like Scratch, or the open source movement as a whole.
  </p>
  <p>
    I suppose I should introduce myself. Hi! I am Moxvallix, and I have taken it upon myself to restore Miners Need Cool Shoes for the
    Minecraft community. I personally had used the site for years, making and saving my skins, and friends of mine (Wulfian), used
    the site to an even greater extent, and his lamenting was a motivating factor in this restoration project.
  </p>
  <p>
    Unfortunately, due to the current copyright laws the US have "bestowed" upon the world, I know this project is illegal. I do not hold the rights
    to the design of this site, or to it's editor. Those belong to the mysterious original developer(s) of the site, of whom we have not heard
    from in many years. Regardless of legality, I still have taken on this project because I feel that this resource is too important for the
    community to lose. However, if the original developer comes forwards, and asks me to take this down, I will have to comply.
  </p>
  <p>
    If you are the original developer of this site, I have also written an open letter to you.
    <%= link_to "Read it here", "/open_letter" %>.
  </p>
</div>