<% content_for :title do "Contact Us" end %>

<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>Contact Us</h1>
  <p>Feel free to message us with any bug reports, feature requests, or to contact us for any reason.</p>
  <p>
    <strong>Please Note:</strong> The message will be sent to a private Discord channel, only the team can see.
    If you are not comfortable with your message being sent there, please contact us via email: <strong>dev (at) moxvallix.com</strong>.
  </p>
  <p>
    If you are looking for support, or are reporting a bug, please consider filling out the Name and Contact fields.
    If you do not wish to be contacted, leave the Contact field blank.
  </p>
  <%= render partial: "contact_form"%>
</div>