<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1 class="mb-2">Donate to NeedCooler<wbr>Shoes</h1>
  <h2 class="mt-0 mb-2">Help support the development of Miners Need Cooler Shoes</h2>
  <p>
    All donations help to keep the site ad free, by paying for hosting, storage,
    and other costs related to operating a website. This site will remain ad free for as
    long as it is financially viable, and will remain free to use always.
    Please only donate if you have the means to do so.
  </p>
  <div class="flex flex-col items-center">
    <a
      class="p-2 btn-ncs w-auto leading-normal rounded no-underline text-white font-bold"
      href="https://ko-fi.com/needcoolershoes/commissions"
    >
      Buy a Donator's Badge ($10+ AUD)
    </a>
    <p>OR</p>
    <div class="w-full flex justify-center">
      <iframe id='kofiframe' src='https://ko-fi.com/needcoolershoes/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;padding:4px;background:#f9f9f9;max-width:100vw;' height='600' title='needcoolershoes'></iframe>
    </div>
  </div>
</div>