<% content_for :title do "Skin Editor" end %>

<% content_for :styles do %>
  <link href="ncsassets/css/editor.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>

<% content_for :scripts do %>
  <script src="ncsassets/js/canvas.js"></script>
  <script src="ncsassets/js/editor.js"></script>
<% end %>

<% content_for :message do %>
  <p class="p-2 bg-ncs-yellow-200 mb-2">
    Thank you to all who entered our Mascot Competition!
    <%= link_to "See Entries", "https://www.planetminecraft.com/jam/mncs-mascot/entries/", target: "_blank", class: "text-black underline" %>
  </p>
<% end %>

<div id="content">
  <script id="sharegalleryform" type="text/html">
    <% if current_user.present? %>
      <%= render partial: "skin_form" %>
    <% else %>
      <%= render partial: "sign_in_form" %>
    <% end %>
  </script>

  <script type="text/html" id="toggles-template">
    <div id="toggles">
      <div class="controls">
        <div title="hide/show color" class="colortheme before:!content-none">
          <%= heroicon "sun", variant: "solid", size: 16, class: "absolute right-0 mt-1" %>
        </div>
        <div title="hide/show skin overlay" class="overlay"></div>
        <div title="hide/show skin body" class="underlay"></div>
      </div>

      <div class="body">
        <div data-parts="head,hat" class="head"></div>
        <div data-parts="armR2,armR" class="armR"></div>
        <div data-parts="torso2,torso" class="torso"></div>
        <div data-parts="armL2,armL" class="armL"></div>
        <div data-parts="legR2,legR" class="legL"></div>
        <div data-parts="legL2,legL" class="legR"></div>
      </div>
    </div>
  </script>

  <div id="editor">
    <div id="toolbox">
    </div>
    <div id="toolbar"></div>
    <div id="workspace">
      <div id="drawing"></div>
    </div>
  </div>

  <div id="tip">
    <h3>TIP:</h3>
    Use the w, s, a, d keys to rotate the character 90 degrees.
  </div>
</div>