<article class="prose prose-li:marker:text-slate-400 prose-hr:border-slate-400 bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>Frequently Asked Questions</h1>
  <h2>Contents</h2>
  <div>
    <ul>
      <li><a href="#restoration-info">What happened to my account? Where are my skins?</a></li>
      <li><a href="#archival">How can I make sure I don't lose my skins again?</a></li>
      <li><a href="#restorationists">Who runs this site?</a></li>
      <li><a href="#helping-out">How can I help out?</a></li>
      <li><a href="#badges">Some people have a nice shiny badge. How do I get one?</a></li>
    </ul>
  </div>
  <hr>
  <section id="restoration-info">
    <h2>What happened to my account? Where are my skins?</h2>
    <p>This site is a fan-made restoration of the site "needcoolshoes.com". Unfortunately, the original site went down in January, 2023.</p>
    <p>If you created an account on the old site, or uploaded skins there, <strong>they will not exist here!</strong></p>
  </section>
  <section id="archival">
    <h2>How can I make sure I don't lose my skins again?</h2>
    <p>
      NeedCoolerShoes uploads monthly archives of public skins on the site to
      <a href="https://archive.org/details/mncs_archive_20230430_20230831">archive.org</a>.
    </p>
    <p>
      As well, you are free to download all your skins at any time from your profile page.
      The "Export My Skins" button will save all your skins into a zip file.
    </p>
  </section>
  <section id="restorationists">
    <h2>Who runs this site?</h2>
    <p>
      The NeedCoolerShoes project was started by <a href="/users/moxvallix">Moxvallix</a>,
      who also hosts the site, and is in lead of development.
    </p>
    <p>The full restoration team is listed in our <a href="/humans.txt">humans.txt</a>.</p>
  </section>
  <section id="helping-out">
    <h2>How can I help out?</h2>
    <p>If you want to get involved with development of the site, reach out to <a href="/users/moxvallix">Moxvallix</a>.</p>
    <p>If you would like to help keep the site running, <a href="/donate">donations are greatly appreciated</a>.</p>
    <p>
      Otherwise, contributing public skins to the gallery, or sharing the site with your friends is a great way to
      give back to the community!
    </p>
  </section>
  <section id="badges">
    <h2>Some people have a nice shiny badge. How do I get one?</h2>
    <p>
      Badges (with the exception of Donator Badges) are awarded to community members for important milestones,
      participation in community events, or as a way to recognise their contributions.
    </p>
    <p>The full list of badges can be found in the <a href="/hall-of-fame">Hall of Fame</a>.</p>
    <h3>Donator Badges</h3>
    <p>
      Donator Badges can be purchased as a way to donate to the site. There are two tiers:
      <ul>
        <li><a href="https://ko-fi.com/c/d26ece955e">Donator Badge of the Year ($10 AUD)</a></li>
        <li><a href="https://ko-fi.com/c/ca33bfab14">Custom Badge ($25 AUD)</a></li>
      </ul>
    </p>
    <p>The Custom Badge allows you to provide an image and name to be used for the badge.</p>
  </section>
</article>