<% content_for :scripts do %>
  <script type="module" src="/ncsassets/js/legacy/main.js"></script>
<% end %>

<div class="flex w-full max-w-[800px] text-white">
  <div class="flex flex-col grow">
    <div class="py-2">
      <ncrs-recent-palette class="flex justify-between max-w-[512px]">
        <button id="camo" title="Toggle Camo Mode">
          <img class="grayscale" src="/ncsassets/img/legacy/editor/11_ColorPicker_hsv.png" alt="">
        </button>
      </ncrs-recent-palette>
    </div>
    <div class="flex flex-col justify-between grow">
      <div class="relative group">
        <canvas id="workspace" class="cursor-crosshair bg-[url('/ncsassets/img/legacy/editor/5_Pixel_patch.png')]" width="512" height="256" style="image-rendering: pixelated;">
        </canvas>
        <div class="absolute top-0 left-0 pointer-events-none group-hover:opacity-20 bg-[url('/ncsassets/img/legacy/editor/10_PixelMap_swatch.png')] w-[512px] h-[256px]">
        </div>
        <button id="eyedropper" class="absolute right-2 bottom-1" title="Eyedropper Tool">
          <img src="/ncsassets/img/legacy/editor/2_PixelMap_dropper.png" alt="">
        </button>
      </div>
      <div class="relative max-w-min">
        <canvas id="colorpicker" width="512" height="136">
        </canvas>
      </div>
    </div>
  </div>
  <div>
    <div class="p-2 flex justify-between">
      <button id="uploadButton" title="Upload Skin">
        <img src="/ncsassets/img/legacy/editor/3_Controls_favorite.png" alt="">
      </button>
      <input id="upload" type="file" class="hidden" accept="image/*">
      <button id="downloadButton" title="Download Skin to Computer">
        <img src="/ncsassets/img/legacy/editor/9_Controls_download.png" alt="">
      </button>
    </div>
    <canvas id="preview" width="280" height="373"></canvas>
  </div>
</div>
<div class="flex justify-between w-full text-black text-left text-sm max-w-[800px]">
  <div>
    <button id="undo" title="Undo: Z" class="underline">Undo</button>
    <button id="redo" title="Redo: Y" class="underline">Redo</button>
  </div>
  <button id="reset" class="underline">Reset Skin</button>
</div>