<% content_for :scripts do %>
  <script type="module" src="/ncsassets/js/legacy/main.js"></script>
<% end %>

<div class="flex w-full max-w-[800px] h-[445px] text-white">
  <div class="flex flex-col grow">
    <div class="py-2">
      <ncrs-recent-palette class="flex justify-between max-w-[512px]">
        <img id="camo" class="grayscale cursor-pointer" src="/ncsassets/img/legacy/editor/11_ColorPicker_hsv.png" alt="">
      </ncrs-recent-palette>
    </div>
    <div class="flex flex-col justify-between grow">
      <div class="relative group">
        <canvas id="workspace" class="cursor-crosshair bg-[url('/ncsassets/img/legacy/editor/5_Pixel_patch.png')]" width="512" height="256" style="image-rendering: pixelated;">
        </canvas>
        <div class="absolute top-0 left-0 pointer-events-none group-hover:opacity-20 bg-[url('/ncsassets/img/legacy/editor/10_PixelMap_swatch.png')] w-[512px] h-[256px]">
        </div>
        <img id="eyedropper" class="absolute right-2 bottom-1 cursor-pointer" src="/ncsassets/img/legacy/editor/2_PixelMap_dropper.png" alt="">
      </div>
      <div class="relative max-w-min">
        <canvas id="colorpicker" width="512" height="136">
        </canvas>
      </div>
    </div>
  </div>
  <div>
    <div class="p-2 flex justify-between">
      <img id="uploadButton" class="cursor-pointer" src="/ncsassets/img/legacy/editor/3_Controls_favorite.png" alt="">
      <input id="upload" type="file" class="hidden" accept="image/*">
      <img id="downloadButton" class="cursor-pointer" src="/ncsassets/img/legacy/editor/9_Controls_download.png" alt="">
    </div>
    <canvas id="preview" width="280" height="373"></canvas>
  </div>
</div>