<% content_for :title do "Terms - MNCS Archive" end %>

<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>MNCS Terms of Service Archive</h1>
  <p>
    This is an archive of the Miners Need Cool Shoes terms of service, presented exactly, from
    its latest possible archived state on <a href="https://web.archive.org/web/20221128185339/https://www.needcoolshoes.com/terms">archive.org</a>.
  </p>
  <p>
    <strong>
      THESE TERMS DO NOT APPLY TO THIS SITE (needcoolershoes.com). THESE TERMS ARE PRESENTED HERE FOR ARCHIVAL PURPOSES ONLY,
      AS TO PROVIDE CONTEXT AND TERMS OF USE FOR SKINS PREVIOUSLY UPDATED TO MINERS NEED COOL SHOES (needcoolshoes.com).
    </strong>
  </p>
  <iframe src="/ncsassets/html/termsofservice.html" class="w-full" height="4600" frameborder="0"></iframe>
</div>