<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>An Open Letter to the Original Developers</h1>
  <strong>May, 2023</strong>
  <p>
    <em>
      Context: Miners Need Cool Shoes was, for a long time, a favourite skin editor for the Minecraft community.
      Going dark in January of 2023, the community lost a powerful tool, and an archive of over 10 years of
      skins. This is an open letter written in the hopes of reaching the mysterious original developer, of whom
      we have not heard from since around 2014.
    </em>
  </p>
  <p>
    Dear Miners Need Cool Shoes developer(s).
  </p>
  <p>
    I hope you have found this letter. I purposely have picked a domain as close to yours as possible, spread my links across as
    much of Reddit as is relevant, and have used as much of your original assets as to try to garner your attention.
  </p>
  <p>
    Now that I have it: you have made an invaluable resource! It truly is! This site managed to do so many things right, where other editors
    like NovaSkin or PlanetMinecraft got it so wrong. The layer first approach to skin editing is a masterclass of UI.
    And as such, you garnered a loyal community of skin creators, who uploaded countless skins to your site.
  </p>
  <p>
    But now they can't access them. And without the site I have made, they wouldn't be able to access their favourite skin editor either.
    I know the skins are still out there; the original AWS bucket is still operational, just locked behind an access key.
  </p>
  <p>
    I guess what I really am trying to say is that I want to talk. I want to discuss getting the site back online. Not just this re-creation,
    but the real, full site, with all the user data, and history, and domain. I want to know why it went offline; did it become too expensive?
    It seemed like you used Heroku, was it to do with their pricing changes?
  </p>
  <p>
    Or maybe the burden of maintaining the site became too great. An ageing codebase, and maybe you aren't part of the Minecraft community anymore,
    and when something broke, it just became too much to fix it?
  </p>
  <p>
    No matter what it is, I want to help. As you can see, I clearly can get some kind of app running, maybe I can help get Miners Need Cool Shoes
    back online?
  </p>
  <p>
    Or even, better yet, would be if you would consider releasing the code for the site under an open source license. Provide a torrent of all the skins
    uploaded over the years, release the code, and let the community take over maintenance of the app.
  </p>
  <p>
    IDK, basically all I'm saying is that this site, and the many skins saved to it, are far too important to lose forever. I would love if you would
    reach out, if you are willing to talk with me at all. You can contact me at <%= link_to "dev@moxvallix.com", "mailto:dev@moxvallix.com" %>.
    I am eagerly awaiting any message (unless its a DMCA of course, please don't).
  </p>
  <p>
    Thankyou for providing us with such an amazing tool over the years.
  </p>
  <p>
    - Moxvallix
  </p>
</div>