<div class="prose bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>Community Rules and Code of Conduct</h1>
  <section id="content-policy">
    <h2>Uploaded Content Policy</h2>
    <p>
      These rules apply to skins public in the gallery, or to unlisted skins that have been shared around by link, and reported. Private skins are not moderated.
    </p>
    <ul>
      <li>No bigotry or hate speech.</li>
      <li>No depictions of Nazis / other hate groups.</li>
      <li>No sexually explicit material.</li>
      <li>Only one iteration of a skin should be public (other iterations should be unlisted/private)</li>
      <li>Public skins must abide by our <a href="#minimal-effort">Minimal Effort Guidelines</a>.</li>
    </ul>
    <p>
      Moderators may private skins violating these rules, at their discretion. Repeat offenders may be barred from uploading public skins, or removed from the site, if they are deemed to be working in bad-faith.
    </p>
    <p>If you have any questions regarding any of these rules, feel free to <%= link_to "Contact Us", contact_path %></p>
  </section>
  <section id="code-of-conduct">
    <h2>Community Code of Conduct</h2>
    <p>
      NeedCoolerShoes adopts the
      <%= link_to "Contributor's Covenant", "https://www.contributor-covenant.org/version/2/1/code_of_conduct/" %>
      for it's code of conduct. This code of conduct applies to all
      official NeedCoolerShoes related communities, regardless of platform.
      Members of the community should agree to the following:
    </p>
    <h3>Our Pledge</h3>
    <p>
      We as members, contributors, and leaders pledge to make participation in our community a harassment-free experience for everyone, regardless of age, body size, visible or invisible disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, caste, color, religion, or sexual identity and orientation.
    </p>
    <p>We pledge to act and interact in ways that contribute to an open, welcoming, diverse, inclusive, and healthy community.</p>
    <h3>Our Standards</h3>
    <p>Examples of behavior that contributes to a positive environment for our community include:</p>
    <ul>
      <li>Demonstrating empathy and kindness toward other people</li>
      <li>Being respectful of differing opinions, viewpoints, and experiences</li>
      <li>Giving and gracefully accepting constructive feedback</li>
      <li>Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience</li>
      <li>Focusing on what is best not just for us as individuals, but for the overall community</li>
    </ul>
    <p>Examples of unacceptable behavior include:</p>
    <ul>
      <li>The use of sexualized language or imagery, and sexual attention or advances of any kind</li>
      <li>Trolling, insulting or derogatory comments, and personal or political attacks</li>
      <li>Public or private harassment</li>
      <li>Publishing others' private information, such as a physical or email address, without their explicit permission</li>
      <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
    </ul>
  </section>
  <section id="minimal-effort">
    <h2>Minimal Effort Guidelines</h2>
    <p>
      Skinning is an art form, and NeedCoolerShoes aims to be a friendly and welcoming community for all skinners,
      no matter where they are along their skinning journey. Skins will not be moderated for being "low quality" or "bad",
      as art should not be judged in such ways.
    </p>
    <p>
      However, skins deemed to be low effort will be moderated. Low effort skins are skins that have clearly had little time or thought
      put in to them, and can be trivially reproduced.
    </p>
    <p>The following are some examples of a low effort skin:</p>
    <ul>
      <li>The skin is just a plain colour, or set of random colours.</li>
      <li>The skin is a recolour of an existing skin.</li>
      <li>The skin is just a squiggle.</li>
      <li>The skin is just a mix of other skins on the site, with little added to it.</li>
      <li>The skin could have been made in 10-30 seconds.</li>
    </ul>
  </section>
</div>