<article class="prose prose-li:marker:text-slate-400 prose-hr:border-slate-400 bg-ncs-yellow-200 p-4 rounded shadow max-w-none">
  <h1>Terms of Service</h1>
  <section id="tos">
    <p>This document applies to any content hosted under the domain needcoolershoes.com including its sub-domains.</p>
    <p>This document will be referring to the NeedCoolerShoes team as "we" and the user/s as "you".</p>
    <br>
    <p>Any actions you do around our community and services must follow all rules on <a href="/rules">our rules page</a>.</p>
    <p>Failure to do so may result in punishment</p>
    <p>Any punishment given is left to the moderators choice on what the punishment should be etc.</p>
    <br>
    <p>We hold the right to remove any content upload to our services by you. We also hold the right to remove any user accounts from our services without prior notice.</p>
    <p>Any content uploaded to our services are handled according to our <a href="/rules">site rules</a> and the license that the content was uploaded under.</p>
    <br>
    <p>This document may be subject to changes.</p>
  </section>
</article>
