<div class="flex flex-col items-center justify-center grow text-2xl">
  <h3 class="text-6xl font-bold">NO RESULTS?</h3>
  <img src="/ncsassets/img/megamewnd.png" width="350" height="465.45" alt="Mascot">
  <h1 class="text-4xl font-bold">Error 404: File not Found</h1>
  <p>Not all roads lead to Rome... <a href="/" class="underline">Return Home</a></p>
</div>
