@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-ncs {
    @apply capitalize cursor-pointer text-white text-center mb-1.5 block;
    @apply leading-10 w-full text-lg font-serif font-extrabold;
    @apply mb-3;
    border-radius: 4px;
    background-image: linear-gradient(to top, #24272a, #313436);
    box-shadow: #3d4042 0px 0px 0px 1px inset, #191a1c 0px 1px 3px, #1f2226 0px 4px, rgba(0, 0, 0, 0.2) 0px 4px 3px;
  }
  .btn-ncs:hover {
    @apply text-ncs-dark-200;
    box-shadow: #505254 0px 0px 0px 1px inset, #191a1c 0px 0px 3px, #272a2d 0px 4px, rgba(0, 0, 0, 0.2) 0px 4px 3px;
  }
  .btn-ncs:active, .btn-ncs-active {
      @apply text-ncs-blue;
      background-image: linear-gradient(to top, rgb(49, 52, 54), rgb(36, 39, 42));
  }
  .btn-ncs:disabled, .btn-ncs-disabled {
    @apply text-ncs-dark-300;
    background-image: linear-gradient(to top, #222427, #2a2d2f);
    box-shadow: #1c1e1f 0px 0px 0px 1px inset, #191a1c 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 4px 3px;
  }
  .btn-ncs:disabled:hover, .btn-ncs-disabled:hover {
    @apply text-ncs-dark-300;
    background-image: linear-gradient(to top, #222427, #2a2d2f);
    box-shadow: #1c1e1f 0px 0px 0px 1px inset, #191a1c 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 4px 3px;
  }
  .btn-ncs:disabled:active, .btn-ncs-disabled:active {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e,
    0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
  }
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

.pagy-nav.pagination {
  @apply flex flex-wrap gap-1 py-2 rounded-md;
}

.page.next a {
  @apply btn-ncs relative p-1.5 md:px-2 md:py-2 text-sm font-medium focus:z-20;
}

.page.prev a {
  @apply btn-ncs relative p-1.5 md:px-2 md:py-2 text-sm font-medium focus:z-20;
}

.page.next.disabled {
  @apply btn-ncs w-min btn-ncs-disabled relative p-1.5 md:px-2 md:py-2 text-sm font-medium focus:z-20;
}

.page.prev.disabled {
  @apply btn-ncs w-min btn-ncs-disabled relative p-1.5 md:px-2 md:py-2 text-sm font-medium focus:z-20;
}

.page a, .page.gap {
  @apply btn-ncs w-min p-1.5 md:px-4 md:py-2 text-sm font-medium focus:z-20;
}

.page.gap {
  @apply invisible p-0 w-[1px];
}

.page.gap::before {
  @apply content-[""] block border-l border-ncs-dark-400 h-full visible
}

.page.active {
  @apply btn-ncs w-min btn-ncs-active p-1.5 md:px-4 md:py-2 text-sm font-medium focus:z-20;
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

.pointer-events-passthrough {
  pointer-events: none;
}

.pointer-events-passthrough div {
  pointer-events: none;
}

.pointer-events-passthrough :not(div) {
  pointer-events: initial;
}

.pointer-events-passthrough :not(div).pointer-events-none {
  pointer-events: none;
}