// Entry point for your Sass build

@use "application/fonts";
@use "application/misc";
@use "application/tagify";

html {
  width: 100vw;
  height: 100vh;
  background-image: url("/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  image-rendering: pixelated;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.3em;
  margin: 0;
  image-rendering: auto;
}