.scaled-lg {
  transform-origin: left top;
  image-rendering: pixelated;
  /* transform: scale(5, 5); */
  --ncs-scale: 8;
}

.scaled {
  transform-origin: left top;
  image-rendering: pixelated;
  /* transform: scale(6, 6); */
  --ncs-scale: 6;
}

.scaled-md {
  transform-origin: left top;
  image-rendering: pixelated;
  /* transform: scale(5, 5); */
  --ncs-scale: 5;
}

.scaled-sm {
  transform-origin: left top;
  image-rendering: pixelated;
  /* transform: scale(3, 3); */
  --ncs-scale: 3;
}

.skin-preview {
  display: flex;
  gap: calc(2px * var(--ncs-scale));
  width: fit-content;
}

.skin-model {
  --ncs-arm-width: 4px;
}

.skin-model-slim {
  --ncs-arm-width: 3px;
}

.face {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(56px * var(--ncs-scale))
    calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));

  position: relative;
  z-index: 2;
}

.face-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(24px * var(--ncs-scale))
    calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.12);
}

.scaled-lg .face-overlay {
  transform: scale(1.1);
}

.torso {
  width: calc(8px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(44px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.torso-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(44px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.05);
}

.left-arm {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(28px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.left-arm-overlay {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(12px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.left-arm-slim {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(28px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.left-arm-slim-overlay {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(12px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.2, 1.05);
}

.right-arm {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(20px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.right-arm-overlay {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(20px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.right-arm-slim {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(20px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.right-arm-slim-overlay {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(20px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.2, 1.05);
}

.left-leg {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(44px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.left-leg-overlay {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(60px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.right-leg {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(60px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));

  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));
}

.right-leg-overlay {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(60px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.face-back {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(40px * var(--ncs-scale))
    calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(4px * var(--ncs-scale));

  position: relative;
  z-index: 1;
}

.face-overlay-back {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(8px * var(--ncs-scale))
    calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.12);
}

.torso-back {
  width: calc(8px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(32px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.torso-overlay-back {
  width: calc(8px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(32px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.05);
}

.left-arm-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(20px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.left-arm-overlay-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(4px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.left-arm-slim-back {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  margin-left: calc(1px * var(--ncs-scale));
  background-position: calc(21px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.left-arm-slim-overlay-back {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(5px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.2, 1.05);
}

.right-arm-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(12px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.right-arm-overlay-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(12px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.right-arm-slim-back {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(13px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.right-arm-slim-overlay-back {
  width: calc(3px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(13px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.2, 1.05);
}

.left-leg-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(36px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(4px * var(--ncs-scale));
}

.left-leg-overlay-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(52px * var(--ncs-scale))
    calc(12px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.right-leg-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(52px * var(--ncs-scale))
    calc(44px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
}

.right-leg-overlay-back {
  width: calc(4px * var(--ncs-scale));
  height: calc(12px * var(--ncs-scale));
  background-position: calc(52px * var(--ncs-scale))
    calc(28px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.15, 1.05);
}

.ear-right {
  width: calc(6px * var(--ncs-scale));
  height: calc(6px * var(--ncs-scale));
  background-position: calc(39px * var(--ncs-scale))
    calc(63px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));
  transform: translate(calc( -28.5px * var(--ncs-scale) - 3 * var(--ncs-arm-width) * var(--ncs-scale)), calc( -4.5px * var(--ncs-scale) )) scale(1.2);

  position: relative;
  z-index: 1;
}

.ear-left {
  width: calc(6px * var(--ncs-scale));
  height: calc(6px * var(--ncs-scale));
  background-position: calc(39px * var(--ncs-scale))
    calc(63px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));
  transform: translate(calc( -25.5px * var(--ncs-scale) - 4 * var(--ncs-arm-width) * var(--ncs-scale)), calc( -4.5px * var(--ncs-scale) )) scale(1.2);
  box-shadow: 0px 0px 10px 2px #1116;

  position: relative;
  z-index: 1;
}

.ear-back-right {
  width: calc(6px * var(--ncs-scale));
  height: calc(6px * var(--ncs-scale));
  background-position: calc(32px * var(--ncs-scale))
    calc(63px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));
  transform: translate(calc( -27.5px * var(--ncs-scale) - 5 * var(--ncs-arm-width) * var(--ncs-scale)), calc( -4.5px * var(--ncs-scale) )) scale(1.2);

  position: relative;
  z-index: 0;
}

.ear-back-left {
  width: calc(6px * var(--ncs-scale));
  height: calc(6px * var(--ncs-scale));
  background-position: calc(32px * var(--ncs-scale))
    calc(63px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  margin-left: calc(var(--ncs-arm-width) * var(--ncs-scale));
  transform: translate(calc( -30.5px * var(--ncs-scale) - 4 * var(--ncs-arm-width) * var(--ncs-scale)), calc( -4.5px * var(--ncs-scale) )) scale(1.2);

  position: relative;
  z-index: 0;
}

/* Player Head Block */

.block-head-x {
  filter: brightness(0.85);
}

.block-head-z {
  filter: brightness(0.65);
}

.block-head-container {
  position: relative;
  top:4px;
  left:24px;
}

.block-head-container div {
  position: absolute;
}

.block-head-container .block-head-back-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(72px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scaleX(-1) scale(1.06) translate(-1.5px, 0.5px) rotateX(35.264deg) rotateY(45deg) rotateZ(0) scale(2);
  z-index: 0;

  top: 30px;
  left: 8px;
}

.block-head-container .block-head-left-overlay {
    width: calc(8px * var(--ncs-scale));
    height: calc(8px * var(--ncs-scale));
    background-position: calc(16px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
    background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
    transform: scaleX(-1) scale(1.06) translate(1.5px, 0.5px) rotateX(35.264deg) rotateY(-45deg) rotateZ(0) scale(2);
    z-index: 0;

    top: 30px;
    left: 70.5px;
}

.block-head-container .block-head-bottom-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(16px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.06) translate(2px, -2px) rotateX(54.736deg) rotateY(0deg) rotateZ(-45deg) scale(2);
  z-index: 0;

  top: 84.3px;
  left: 37.5px;
}

.block-head-container .block-head-top {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(56px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: rotateX(54.736deg) rotateY(0deg) rotateZ(-45deg) scale(2);
  z-index: 1;
  
  top: 15px;
  left: 40px;
}

.block-head-container .block-head-right {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(64px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: rotateX(35.264deg) rotateY(45deg) rotateZ(0) scale(2);;
  z-index: 1;

  top: 64px;
  left: 12px;
}

.block-head-container .block-head-front {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(56px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: rotateX(35.264deg) rotateY(-45deg) rotateZ(0) scale(2);
  z-index: 1;

  top: 64px;
  left: 68px;
}

.block-head-container .block-head-top-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(24px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.06) translate(2px, -2px) rotateX(54.736deg) rotateY(0deg) rotateZ(-45deg) scale(2);
  z-index: 2;

  top: 15px;
  left: 37.5px;
}

.block-head-container .block-head-right-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(32px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.06) translate(-1.5px, 0.5px) rotateX(35.264deg) rotateY(45deg) rotateZ(0) scale(2);;
  z-index: 2;

  top: 64px;
  left: 11px;
}

.block-head-container .block-head-front-overlay {
  width: calc(8px * var(--ncs-scale));
  height: calc(8px * var(--ncs-scale));
  background-position: calc(24px * var(--ncs-scale)) calc(56px * var(--ncs-scale));
  background-size: calc(64px * var(--ncs-scale)) calc(64px * var(--ncs-scale));
  transform: scale(1.06) translate(1.5px, 0.5px) rotateX(35.264deg) rotateY(-45deg) rotateZ(0) scale(2);
  z-index: 2;

  top: 64px;
  left: 67.5px;
}