#layers > .overflow-auto::-webkit-scrollbar {
  display: none;
}
#layers > .overflow-auto {
  scrollbar-width: none;
}

#workspace.dark .dark-hidden {
  display: none;
}

#workspace:not(.dark) .dark-visible {
  display: none;
}

#workspace.dark #model-toggle {
  color: white;
  text-shadow: none;
}