#layers > .overflow-auto::-webkit-scrollbar {
  display: none;
}
#layers > .overflow-auto {
  scrollbar-width: none;
}

#workspace .theme-icon {
  display: none;
}

#workspace.dark .dark-visible {
  color: white;
  display: initial;
}

#workspace.dusk .dusk-visible {
  color: rgb(240, 240, 240);
  display: initial;
}

#workspace:not(.dark):not(.dusk) .light-visible {
  display: initial;
}

#workspace.dusk #model-toggle {
  color: rgb(240, 240, 240);
  text-shadow: none;
}

#workspace.dark #model-toggle {
  color: white;
  text-shadow: none;
}