// Badges overlay stuff
.ncs-selectable .overlay {
  display: none;
}

.ncs-selectable:focus .overlay {
  display: inherit;
}

// Animation to fade text
.hidden-fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

// Pride month bar
#pride {
  background: linear-gradient(90deg,#E30303,#FF8C00,#FFED00,#008026,#004DFF,#750787);
}